javascript:
  window.fbAsyncInit = function () {
    FB.init({
      appId: "#{Settings.social.fb_app_id}",
      xfbml: true,
      version: 'v2.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function postToFeed(title, desc, url, image) {
    var obj = {method: 'feed', link: url, picture: image, name: title, description: desc};

    function callback(response) {
    }

    FB.ui(obj, callback);
  }

  $(document.body).on('click', '.fb-share', function (event) {
    event.preventDefault();
    var elem = $(this);
    postToFeed(elem.data('title'), elem.data('desc'), elem.prop('href'), elem.data('image'));
    return false;
  });