html,
body {
  height: 99.93%;
  @media (min-height: 640px) {
    height: 99.95%;
  }
  @media (min-height: 800px) {
    height: 99.96%;
  }
  @media (min-height: 1280px) {
    height: 99.98%;
  }
}

body {
  letter-spacing: 1px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  @media (min-width: $screen-md) {
    font-size: $font-size-md;
    line-height: $line-height-md;
  }
  @media (min-width: $screen-lg) {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font-family-heading;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: $line-height-base;
  @media (min-width: $screen-md) {
    margin-bottom: $line-height-md;
  }
  @media (min-width: $screen-lg) {
    margin-bottom: $line-height-lg;
  }
}

h2,
.h2 {
  margin-top: ($line-height-base * 6);
  @media (min-width: $screen-md) {
    margin-top: ($line-height-md * 6);
  }
  @media (min-width: $screen-lg) {
    margin-top: ($line-height-lg * 6);
  }
}
h3,
.h3 {
  margin-bottom: 0;
}

p, ul, li, .lead, .caption {
  margin-top: 0;
  margin-bottom: $line-height-base;
  @media (min-width: $screen-md) {
    margin-bottom: $line-height-md;
  }
  @media (min-width: $screen-lg) {
    margin-bottom: $line-height-lg;
  }
}

.caption {
  font-size: 9px;
  line-height: 14px;
  @media (min-width: $screen-md) {
    font-size: 11px;
    line-height: 16px;
  }
  @media (min-width: $screen-lg) {
    font-size: 12px;
    line-height: 18px;
  }
}

.credit {
  position: absolute;
  bottom: 100px;
  left: -82px;
  font-size: 7px;
  letter-spacing: 4px;
}

.credit-rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

li {
  margin-bottom: 0;
}

a {
  color: $brand-primary;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &.active {
    color: $brand-primary;
  }
}

strong,
.strong {
  font-family: $font-family-heading;
  font-weight: normal;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;
  > li {
    display: inline-block;
    padding-right: 24px;
  }
}

.list-team {
  @include make-row();
  > li {
    vertical-align: top;
    @include make-xs-column(3);
    @include make-sm-column(2);
    @include make-md-column(3);
  }
  li {
    margin-bottom: $line-height-base;
    @media (min-width: $screen-md) {
      margin-bottom: $line-height-md;
    }
    @media (min-width: $screen-lg) {
      margin-bottom: $line-height-lg;
    }
  }
}

.page-heading {
  @media (min-width: $screen-md)  {
    margin-bottom: ($line-height-lg * 3);
  }
  @media (min-width: $screen-lg)  {
    margin-bottom: ($line-height-lg * 5);
  }
}

.nav-brand {
  display: none;
  width: 94px;
  height: 119px;
  @media (min-width: $grid-float-breakpoint) {
    display: block;
    position: fixed;
    left: $body-paddings;
    bottom: $body-paddings;
    top: inherit;
  }
}

.projects-list,
.activities-list {
  padding-left: 0;
  padding-bottom: 1px;
  margin: 0;
  list-style: none;
}

.projects-list-item,
.activities-list-item {
  margin-right: -36px;
  margin-bottom: ($line-height-base * 3);
  @media (min-width: $screen-md) {
    margin-bottom: ($line-height-md * 3);
  }
  @media (min-width: $screen-lg) {
    margin-bottom: ($line-height-lg * 3);
  }
}

.projects-list-item-heading,
.activities-list-item-heading,
.projects-list-item-tag,
.activities-list-item-tag {
  font-weight: bold;
}

.img-anons-main {
  position: relative;
  width: 100%;
  height: 400px;
  max-height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 23px;
}

.img-anons {
  margin-bottom: 23px;
}

.img-anons-main {
  @media (min-width: $grid-float-breakpoint) {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-left: 6px;
    width: 50%;
  }
}

.video-anons-main {
  @media (min-width: $grid-float-breakpoint) {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-left: 6px;
    width: 50%;
  }
}

.carousel-inner {
  cursor: pointer;
}

/*
.vimeo-preview {
  cursor: pointer;
  @include opacity(1);
  @include transition(opacity .15s ease-out);
  &:after {
    display: block;
    width: 100%;
    height: 100%;
    background-image: asset_url('play.png');
    background-repeat: no-repeat;
    background-position: center center;
    content: " ";
    @include opacity(.8);
    @media (min-height: 640px) {
      background-position: center 53%;
    }
    @media (min-height: 800px) {
      background-position: center 57%;
    }
    @media (min-height: 900px) {
      background-position: center 60%;
    }
    @media (min-height: 1024px) {
      background-position: center 63%;
    }

  }
  &:hover {
    @include opacity(.9);
    &:after {
      @include opacity(1);
    }
  }
}

.video-div {
  display: table;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 1040;
}

.video-div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background-color: black;
  z-index: 10px;
}

.video-div-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.video-div-inner-close {
  position: fixed;
  display: block;
  top: 24px;
  right: 36px;
  color: white;
  cursor: pointer;
  z-index: 1060;
}
 */
.container-fluid {
  margin-left: $body-paddings;
  margin-right: $body-paddings;
}

.content-wrapper {
  margin-left: 36px;

  @media (min-width: $screen-sm) {
    @include make-sm-column-offset(2);
    padding-left: 16px;
    height: 100%;
    position: absolute;
    padding-top: $body-paddings;
  }
  @media (min-width: $screen-lg) {
    @include make-lg-column-offset(3);
    padding-left: 6px;
  }
}

.content {
  width: 100%;

  @media (min-width: $screen-sm) {
    display: table;
    height: 100%;
  }
}

.content-text {
  width: 100%;
  padding-right: 36px;
  padding-bottom: 18px;

  @media (min-width: $grid-float-breakpoint) {
    display: table-cell;
    padding-bottom: 29px;
    padding-right: 36px;
    height: 1px;
  }
}

.content-img {
  width: 100%;
  height: auto;

  @media (min-width: $screen-sm) {
    display: table-row;
    height: 100%;
  }
}

.content-img-inner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: auto;
  height: 340px;

  // Responsive for >480px
  @media (min-width: 480px) {
    height: 480px;
  }

  // Responsive for >640px
  @media (min-width: 640px) {
    height: 730px;
  }

  // Responsive for >768px
  @media (min-width: $screen-sm) {
    display: table-cell;
    height: 100%;
    background-position: center bottom;
  }
  @media (min-width: $screen-sm) and (max-height: 640px) {
    background-position: center center;
  }

  // Responsive for >1024px
  @media (min-width: $screen-md) and (max-height: 768px) {
    background-position: center center;
  }
}


// Sharing

.footer {
  @include make-row();
  @extend .h2;
}

.share-buttons {
}

.social-likes__button {
  color: $brand-primary;
  cursor: pointer;
  @extend .strong;
}

.social-likes__counter {
  margin-left: 12px;
}


//
// New layout test

.dbm-navbar {
  position: relative;
  min-height: $navbar-height;
  margin-bottom: $navbar-margin-bottom;
  @include clearfix();
  @media (min-width: $grid-float-breakpoint) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: $body-paddings;
  }
}

.dbm-navbar-header {
  margin-right: 100px;
  padding-top: 24px;
  height: $navbar-height;
  @include clearfix();
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

.dbm-navbar-brand {
  text-transform: uppercase;
  font-size: inherit;
  color: $text-color;
  &.hover,
  &.focus {
    color: inherit;
  }
}

.navbar-toggle {
  position: absolute;
  text-align: center;
  padding: 30px;
  top: 0;
  right: 0;
  width: $navbar-height;
  height: $navbar-height;
  margin: 0;
  border-radius: 0;
  background-color: $brand-primary;
  border: none;
  &:hover,
  &:focus {
    background-color: $navbar-default-toggle-hover-bg;
  }
  .icon-bar {
    background-color: $navbar-default-toggle-icon-bar-bg;
    width: 20px;
  }
}

.navbar-collapse {
  padding: 0;
}

.section-name {
  color: $brand-primary;
}

.dbm-navbar-nav {
  @extend .list-inline;
  > li > a {
    color: $text-color;
    line-height: inherit;
    &:hover,
    &:focus {
      color: $brand-primary;
    }
  }
}

.menu {
  display: none;
  @media (min-width: $grid-float-breakpoint) {
    display: block;
  }
}

.hamburger-menu {
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

.nav-inner {
  color: $text-color;
  &:hover,
  &:focus {
    color: $brand-primary;
  }
  &.active {
    color: $brand-primary;
  }
}


.dbm-content-wrapper {
  padding-top: $body-paddings;
}

.dbm-content-inner {
  @include make-row();
}

.dbm-text-flow {
  @include make-sm-column(4);
  @include make-sm-column-offset(2);
  @include make-md-column(3);
  @include make-md-column-offset(3);
}

.dbm-img-flow {
  @include make-sm-column(6);
  margin-top: ($line-height-base * 3);
  @media (min-width: $screen-md) {
    margin-top: ($line-height-md * 3);
  }
  @media (min-width: $screen-lg) {
    margin-top: ($line-height-lg * 3);
  }
  + .dbm-img-flow {
    margin-top: 0;
  }
  &.last {
    margin-bottom: 0;
  }
}

.dbm-img-post {
  margin-bottom: 8px;
}
