body {
  padding: $body-paddings;
  padding-bottom: $body-paddings * 1.5;
  letter-spacing: 1px;
  font-size: $font-size-base;
  line-height: $line-height-base;

//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font-family-heading;
  font-weight: normal;
  font-size: $heading-font-size;
  line-height: $heading-line-height;
  margin-top: 0;
  margin-bottom: $line-height-base;
}

h2,
.h2 {
  margin-top: ($line-height-base * 6);
}
h3,
.h3 {
  margin-bottom: 0;
}

.lead {
  font-family: $font-family-heading;
  font-weight: normal;
  margin-bottom: ($line-height-base * 3);
}

p, ul, li {
  margin-top: 0;
  margin-bottom: $line-height-base;
}

li {
  margin-bottom: 0;
}

a {
  color: $brand-primary;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &.active {
    color: $brand-primary;
  }
}

strong,
.strong {
  font-family: $font-family-heading;
  font-weight: normal;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;
  > li {
    display: inline-block;
    padding-right: 24px;
  }
}

.list-team {
  li {
    margin-bottom: $line-height-base;
  }
}


.page-heading {
  margin-bottom: ($line-height-base * 2);
}

.nav-wrapper {
  position: relative;
  margin-bottom: $line-height-base;
  @media (min-width: $grid-float-breakpoint) {
    position: fixed;
    z-index: 1040;
  }
}

.nav {
  color: #000;
  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

.nav-brand {
  display: block;
  position: relative;
  margin-top: 46px;
  @media (min-width: $grid-float-breakpoint) {
    position: fixed;
    bottom: $body-paddings * 1.5;
  }
}

.projects-list,
.activities-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.projects-list-item,
.activities-list-item {
  margin-bottom: ($line-height-base * 3);
  &:last-child {
    margin-bottom: 0;
  }
}

.projects-list-item-img,
.activities-list-item-img {
  background-color: #f5f5f8;
}

.projects-list-item-heading,
.activities-list-item-heading,
.projects-list-item-tag,
.activities-list-item-tag {
  font-weight: bold;
}

.img-anons-main,
.img-anons {
  position: relative;
  width: 100%;
  height: 400px;
  max-height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5f8;
  margin-bottom: 23px;
  @media (max-width: $screen-phone) {
    max-height: 300px;
  }
}

.img-anons-main {
  @media (min-width: $grid-float-breakpoint) {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-left: 6px;
    width: 50%;
    min-height: 50%;
  }
}

.video-anons-main {
  @media (min-width: $grid-float-breakpoint) {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-left: 6px;
    width: 50%;
  }
}


.img-post-wrapper {
  @media (min-width: $grid-float-breakpoint) {
    margin-left: -102%;
  }
  + .img-post-wrapper {
    margin-top: -($line-height-base * 2);
  }
}

.img-post {
  margin-top: ($line-height-base * 2);
  margin-bottom: ($line-height-base / 2);
}


.carousel-inner {
  cursor: pointer;
}
