doctype html
html
  head
    title The page you were looking for doesn't exist (404)
    meta name='viewport' content='width=device-width,initial-scale=1'
    css:
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      html,
      body {
        height: 99.93%;
        padding: 0;
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
      }
      @media (min-height: 640px) {
        html,
        body {
          height: 99.95%;
        }
      }
      @media (min-height: 800px) {
        html,
        body {
          height: 99.96%;
        }
      }
      @media (min-height: 1280px) {
        html,
        body {
          height: 99.98%;
        }
      }

      body {
        letter-spacing: 1px;
        font-size: 11px;
        line-height: 15px;
      }
      @media (min-width: 992px) {
        body {
          font-size: 14px;
          line-height: 20px;
        }
      }
      @media (min-width: 1200px) {
        body {
          font-size: 15px;
          line-height: 23px;
        }
      }

      h1, h2, h3, h4, h5,
      .h1, .h2, .footer, .h3, .h4, .h5 {
        font-family: "HelveticaWorldBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: inherit;
        line-height: inherit;
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        margin: 0;
      }

      .content-wrapper {
        margin-left: 36px;
        padding-top: 30px;
      }
      @media (min-width: 768px) {
        .content-wrapper {
          padding-left: 16px;
          height: 100%;
          position: absolute;
        }
      }
      @media (min-width: 768px) and (min-width: 768px) {
        .content-wrapper {
          margin-left: 33.33333%;
          width: 66.7%;
        }
      }
      @media (min-width: 1200px) {
        .content-wrapper {
          padding-left: 6px;
          margin-left: 50%;
          width: 50%;
        }
      }

      .content {
        width: 100%;
      }
      @media (min-width: 768px) {
        .content {
          display: table;
          height: 100%;
        }
      }

      .content-text {
        width: 100%;
        padding-right: 36px;
        padding-bottom: 18px;
      }
      @media (min-width: 768px) {
        .content-text {
          display: table-cell;
          padding-bottom: 29px;
          padding-right: 36px;
          height: 1px;
        }
      }

      .content-img {
        width: 100%;
        height: auto;
      }
      @media (min-width: 768px) {
        .content-img {
          display: table-row;
          height: 100%;
        }
      }

      .content-img-inner {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: auto;
        height: 340px;
      }
      @media (min-width: 480px) {
        .content-img-inner {
          height: 480px;
        }
      }
      @media (min-width: 640px) {
        .content-img-inner {
          height: 730px;
        }
      }
      @media (min-width: 768px) {
        .content-img-inner {
          display: table-cell;
          height: 100%;
          background-position: center bottom;
        }
      }
      @media (min-width: 768px) and (max-height: 640px) {
        .content-img-inner {
          background-position: center center;
        }
      }
      @media (min-width: 992px) and (max-height: 768px) {
        .content-img-inner {
          background-position: center center;
        }
      }

      .nav-brand {
        display: none;
        width: 94px;
        height: 119px;
      }
      @media (min-width: 768px) {
        .nav-brand {
          display: block;
          position: fixed;
          left: 30px;
          bottom: 30px;
          top: inherit;
        }
      }


  body
    .content-wrapper
      .content
        = yield

    a.nav-brand href="/"
      img src="#{image_path('m-logo.svg')}" onerror="this.onerror=null; this.src='#{image_path('m-logo.png')}'"
